.nav-right {
        /* position: absolute; */
        /* left: 0px; */
        /* height: 40px; */
        /* background-color: #2C64B4; */
        width: 100%;
        display: flex;
        justify-content: right;
    
}

.nav-left {
        /* position: absolute; */
        /* left: 0px; */
        /* height: 40px; */
        /* background-color: #2C64B4; */
        width: 100%;
        display: flex;
        justify-content: left;
    
}